* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #080808;
  color: #fff;
}

h1 {
  font-size: 4rem;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(images/burak-background.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  font-size: 2rem;
}

.logo span {
  color: #9c36b5;
}

.container {
  padding: 1rem 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 14rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 5rem;
  list-style: none;
  font-size: 1.6rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
}

.nav-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #9c36b5;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.5s;
}

.nav-links:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 35rem;
  font-size: 3rem;
}

.header-description {
  font-size: 6rem;
  margin-top: 2rem;
}

.header-description span {
  color: #9c36b5;
}

/*********************** About Section ********************/

.about-section {
  padding: 8rem 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.about-text {
  font-size: 2rem;
  line-height: 1.6;
}

.tab-titles {
  display: flex;
  margin: 2rem 0 4rem;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  font-size: 1.6rem;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #9c36b5;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 1rem 0;
  font-size: 1.6rem;
}

.tab-contents ul li span {
  color: #9c36b5;
  font-size: 1.4rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*********************** Abilites Section ********************/

.abilities-section {
  padding: 30rem 0;
}

.abilities-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem;
}

.abilities-list div {
  background-color: #262626;
  padding: 4rem;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}

.abilities-list div:hover {
  background-color: #9c36b5;
  transform: translateY(-10px);
}

.abilities-icon {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.abilities-header {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.abilities-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.abilities-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 2rem;
  display: inline-block;
}

/*********************** Works Section ********************/

.works-section {
  padding: 5rem 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .work-content {
  height: 100%;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: all 0.5s;
}

.work-content {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #9c36b5);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  transition: all 0.5s;
}

.works-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.works-text {
  font-size: 1.4rem;
  line-height: 1.6;
}

.btn {
  display: block;
  margin: 5rem auto;
  font-size: 1.6rem;
  width: fit-content;
  border: 1px solid #9c36b5;
  padding: 1.4rem 5rem;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #9c36b5;
}

/*********************** Contact Section ********************/

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left .sub-title {
  text-align: left;
}

.contact-left p {
  margin-top: 3rem;
  font-size: 1.6rem;
}

.contact-left p i {
  color: #9c36b5;
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.social-media-icons {
  margin-top: 3rem;
}

.social-media-icons a {
  text-decoration: none;
  font-size: 3rem;
  margin-right: 1.5rem;
  color: #ababab;
  display: inline-block;
  transition: all 0.5s;
}

.social-media-icons a:hover {
  color: #9c36b5;
  transform: translateY(-5px);
}

.btn-form {
  display: inline-block;
  background-color: #9c36b5;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 6px;
}

form .btn-form {
  padding: 1.4rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: #262626;
  font-weight: 300;
  margin-top: 20px;
  font-size: 2.2rem;
}
